{% extends "hoosRiding/base.html" %}
{% load static %}
{% load request_ride %}
{% load split_words %}
{% load user_info_modal %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"><!-- Style Sheet Import -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'user_profile/user_profile.css' %}">


<div class="profile" style="padding-left:10%">

    <div class="left">
        <div class="ui card">
            <div class="image">
            {% if current_user.image %}
                <img  src="https://hoosriding.s3.amazonaws.com/{{ current_user.image }}">
            {% else %}
                <img src="https://www.w3schools.com/howto/img_avatar2.png">
                {% endif %}
            </div>
            <div class="content">
                <a class="header"> {{ user.first_name }} {{ user.last_name }}</a>
                <div class="meta">
                    <span class="date">{{ user.email }}</span>
                </div>
                <div class="description">

                    <b>Rating: {{ rating }}</b><div class="star-rank">
                        {% if rating < .5 %}
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= .5 and rating < 1 %}
                        <span class="fa fa-star-half-o fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 1 and rating < 1.5 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 1.5 and rating < 2 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star-half-o fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 2 and rating < 2.5 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 2.5 and rating < 3 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star-half-o fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 3 and rating < 3.5 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 3.5 and rating < 4 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star-half-o fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 4 and rating < 4.5 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg"></span>
                        {% elif rating >= 4.5 and rating < 5 %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star-half-o fa-lg" style="color:orange"></span>
                        {% else %}
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        <span class="fa fa-star fa-lg" style="color:orange"></span>
                        {% endif %}
                    </div>

                    <b>Cell: </b>
                    {% if current_user.cellphone %}
                    {{ current_user.cellphone }}
                    {% else %}
                    No phone number provided
                    {% endif %}

                    <b>Car:</b>
                    {% if current_user.car_type %}
                    {{ current_user.car_type }}
                    {% else %}
                    No car type provided
                    {% endif %}
                    <br/>
                    <b>License Plate: </b>
                    {% if current_user.license_plate %}
                    {{ current_user.license_plate }}
                    {% else %}
                    No license plate provided
                    {% endif %}
                </div>
            </div>
            <div class="extra content">
                <button type="button" class="mini ui primary button" data-toggle="modal"
                        data-target="#editProfileModal">Edit Profile
                </button>
            </div>
        </div>
        <!-- Edit Profile Modal -->
        <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Profile Information</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class='ui form' action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="field">
                                <label for="image"><b>Upload Profile Picture</b></label>
                                <input id="image" type="file" name="image">
                            </div>
                            <div class="field">
                                <label for="cell"><b>Cell Number: </b></label>
                                <input id="cell" type="text" name="cellphone" placeholder="{{ current_user.cellphone }}"
                                       value="{{ current_user.cellphone  }}">
                            </div>
                            <div class="field">
                                <label for="car_type"><b>Car Type: </b></label>
                                <input id="car_type" type="text" name="car_type"
                                       placeholder="{{ current_user.car_type }}" value="{{  current_user.car_type }}">
                            </div>
                            <div>
                                <label for="license_plate"><b>License Plate:</b></label>
                                <input id="license_plate" type="text" name="license_plate"
                                       placeholder="{{ current_user.license_plate }}"
                                       value="{{ current_user.license_plate }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Save" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--    Right Side      -->
    <div class="right" style="padding-right:10%; width: 75%">

        {% if viewingPassenger %}

        <div class="ui fluid two item menu">
            <a class="item active">Passenger</a>
            <a href="{% url 'switchToDriverView' %}" class="item">Driver</a>
        </div>

        {% for Posting,status in allRides.items %}
        <div class="ui fluid raised centered card">
            <div class="content">
                <table style="width:100%;height:100%">
                    <td><h3>{{ Posting.location_from }} to {{ Posting.location_to }}<i class="car icon"></i></h3></td>
                    <td style="text-align: right;">
                        {% calculatetime Posting.date %}
                    </td>
                </table>
                <div class="meta">{{ Posting.riding_date}}</div>
                <div class="description">
                    <a class="ui image label simple large dropdown button">
                        <img src="{% get_user_image Posting.driver_id %}">
                        <span class="text">{{ Posting.driver_name }}</span>
                        <div class="menu">
                            <div class="item"><b>Rating: </b> {% get_rating Posting.driver_id %}</div>
                            <div class="item"><b>Email: </b>{{ Posting.driver_id }}@virginia.edu</div>
                            <div class="item"><b>Cell: </b>{% get_cellphone Posting.driver_id %}</div>
                            <div class="item"><b>Car: </b>{% get_car Posting.driver_id %}</div>
                            <div class="item"><b>License Plate: </b>{% get_license_plate Posting.driver_id %}</div>
                        </div>
                    </a>
                    <p>Asking price: ${{ Posting.price }}</p>
                    <p>Spots left: {{ Posting.num_passengers }}</p>
                </div>
            </div>


            <div class="extra content">
                Request Status:
                {% if status == "accepted" %}
                <p style="color:green; display: inline;">accepted</p><i class="green check icon"></i>
                {% elif status == "pending" %}
                pending<i class="exclamation circle icon"></i>
                {% else %}
                <p style="color:red; display: inline;">declined</p><i class="red ban icon"></i>
                {% endif %}
            </div>

            {% has_occurred Posting.riding_date as occurred %}
            {% if occurred %}
            {% is_ratable current_user Posting.posting_id as ratable %}
            {% if ratable %}
            <div class="extra content">
                Rate Your Ride:
                <table style="width:100%">
                    <td><h6>{{rider}}</h6></td>
                        <a href="{% url 'updateRating' %}?rating=1&id={{Posting.driver_id}}&post_id={{Posting.posting_id}}">
                            <button class="w3-button w3-red" >1</button>
                        </a>
                    <a href="{% url 'updateRating' %}?rating=2&id={{Posting.driver_id}}&post_id={{Posting.posting_id}}">
                            <button class="w3-button w3-orange" >2</button>
                        </a>
                    <a href="{% url 'updateRating' %}?rating=3&id={{Posting.driver_id}}&post_id={{Posting.posting_id}}">
                            <button class="w3-button w3-yellow" >3</button>
                        </a>
                    <a href="{% url 'updateRating' %}?rating=4&id={{Posting.driver_id}}&post_id={{Posting.posting_id}}">
                            <button class="w3-button w3-light-green" >4</button>
                        </a>
                    <a href="{% url 'updateRating' %}?rating=5&id={{Posting.driver_id}}&post_id={{Posting.posting_id}}">
                            <button class="w3-button w3-green" >5</button>
                        </a>
                </table>
            </div>
            {% endif %}
            {% endif %}

            <!--Dropdown of extra info-->
            <div class="ui styled accordion fluid">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Details
                </div>
                    <div class="content">
                <p class="transition ">
                    <b>Riders on this trip:</b>
                    {% with Posting.riders_riding|split:"," as request_list %}
                        {% if request_list %}
                            {% for rider in request_list %}
                            <div class="ui image label simple dropdown button">
                                <img src="{% get_user_image rider %}">
                                <span class="text">{% get_name rider %}</span>
                                <div class="menu">
                                    <div class="item"><b>Email: </b>{{ rider }}@virginia.edu</div>
                                    <div class="item"><b>Cell: </b>{% get_cellphone rider %}</div>
                                </div>
                            </div>
                                <br/>

                            {% endfor %}
                        {% else %}
                        <p>There are currently no other riders.</p>
                        {% endif %}

                    {% endwith %}

                    <br>
                    <iframe
                            width="500"
                            height="300"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyApVaYhLYdLjzJiM96gn26edCBAsVRz43k&origin={{Posting.location_from}}&destination={{Posting.location_to}}"
                            allowfullscreen>
                    </iframe>
                    </p>
                </div>
            </div>

        </div>

        {% endfor %}


        {% else %}

        <!--view if looking at rides hosting-->
        <div class="ui fluid two item menu">
            <a class="item" href="{% url 'switchToPassengerView' %}">Passenger</a>
            <a class="item active">Driver</a>
        </div>


        <!--The list of cards-->
        {% for Posting in ridesDriving %}
        <div class="ui fluid raised centered card">
            <div class="content">
                <table style="width:100%;height:100%">
                    <td><h3>{{ Posting.location_from }} to {{ Posting.location_to }}<i class="car icon"></i></h3></td>
                    <td style="text-align: right;">
                        {% calculatetime Posting.date %}
                    </td>
                </table>
                <div class="meta">{{ Posting.riding_date}}</div>
                <div class="description">
                    <p>Asking price: ${{ Posting.price }}</p>
                    <p>Spots left: {{ Posting.num_passengers }}</p>
                </div>
            </div>

                <!--If any requests for rides, appear here-->
                {% with Posting.riders_requested|split:"," as request_list %}
                    {% if request_list %}
                        <div class="extra content">
                            <h5>New Requests</h5>
                        {% for rider in request_list %}
                            <table style="width:100%">
                                <div class="ui image label simple dropdown button">
                                    <img src="{% get_user_image rider %}">
                                    <span class="text">{% get_name rider %}</span>
                                    <div class="menu">
                                        <div class="item"><b>Email: </b>{{ rider }}@virginia.edu</div>
                                        <div class="item"><b>Cell: </b>{% get_cellphone rider %}</div>
                                    </div>
                                </div>
                                <td style="text-align: right;">
                                    <a href="{% url 'respondToDriverRequest' %}?id={{Posting.posting_id}}&rider={{rider}}&status=accept"><button class="positive ui button">Accept</button></a>
                                    <a href="{% url 'respondToDriverRequest' %}?id={{Posting.posting_id}}&rider={{rider}}&status=decline"><button class="negative ui button">Decline</button></a>
                                </td>
                            </table>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

            <!--Dropdown of extra info-->
            <div class="ui styled accordion fluid">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Details
                </div>
                    <div class="content">
                <p class="transition ">
                    <b>Riders on this trip:</b>
                    {% with Posting.riders_riding|split:"," as request_list %}
                        {% if request_list %}

                            {% for rider in request_list %}
                            <div class="ui image label simple dropdown button">
                                <img src="{% get_user_image rider %}">
                                <span class="text">{% get_name rider %}</span>
                                <div class="menu">
                                    <div class="item"><b>Email: </b>{{ Posting.driver_id }}@virginia.edu</div>
                                    <div class="item"><b>Cell: </b>{% get_cellphone Posting.driver_id %}</div>
                                </div>
                            </div>

                            {% endfor %}

                        {% else %}
                        <p>There are currently no other riders.</p>
                        {% endif %}

                    {% endwith %}

                    <br>
                    <iframe
                            width="500"
                            height="300"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyApVaYhLYdLjzJiM96gn26edCBAsVRz43k&origin={{Posting.location_from}}&destination={{Posting.location_to}}"
                            allowfullscreen>
                    </iframe>
                    </p>
                </div>
            </div>

        </div>
        {%endfor%}


        {% endif %}


    </div>

</div>

<script>
    $('.ui.accordion').accordion();

</script>

{% endblock %}
