<!-- {% extends "hoosRiding/login_base.html" %} -->
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'hoosRiding/signin.css' %}">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin">
      <div class="container">
              <img class="mb-4" src="{% static 'hoosRiding/tab-logo.png' %}" alt="" width="124" height="124">

      </div>
      <div class="container">
        <div class="btn btn-outline-primary btn-lg">
          <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
         <div style="display:inline-block">
             <img style="padding-top:0px; padding-right:4px" width="24px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         </div>
       Login with Google
              </a>
        </div>
             
      </div>



  <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>
</body>
</html>





{% endblock content %}
