{% extends "hoosRiding/base.html" %}
{% block content %}



<h3> Post a New Ride </h3>
<div class="description" style="color: red">Post a new ride here by inputting the starting location </div>

<style> .indented { padding-left: 100pt; padding-right: 30pt; } </style>


<form action="."   method="post">
{% csrf_token %}
 <div class="card text-black mb-4" style="width: 40rem; background: light; border: px solid #FF860E; outline-color: 6px solid #CCC873">
    <div class="card-header" style="background:dark">
        </div>
     <div class="card-body">
         <table>
             <tr>
                 <td style="padding:20px">Starting point</td>
                 <td>
                     <select name="location_from">
                     {% for city, state in cities.items %}
                        <option value="{{ city }}, {{ state }}" > {{ city }}, {{ state }}</option>
                     {% endfor %}
                    </select>
                 </td>
                </tr>
             <tr>
                 <td style="padding:20px">Destination</td>
                 <td><select name="location_to">
                         {% for city, state in cities.items %}
                            <option value="{{ city }}, {{ state }}" > {{ city }}, {{ state }}</option>
                         {% endfor %}
                    </select>
                 </td>
             </tr>

             <tr>
                 <td style="padding:20px">Date of Ride</td>
                 <td><input type="datetime-local" name="date"></td>

             </tr>


             <tr>
                 <td style="padding:20px">Asking price per person</td>
                 <td>${{ form.price }}</td>
             </tr>

             <tr>
                 <td style="padding:20px">Number of passengers</td>
                 <td><select name="num_passengers">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8+">8+</option>
                     </select> </td>
             </tr>
         </table>


        </div>
     <div class="card-footer" style="background:dark"
    <p><input style = "margin-left:5%; size:10" type="submit" value="Post" class="btn btn-dark" ></p>
            </div>
     </div>

</form>







<!-- "location_to", "location_from","driver_name", "vehicle_model","date" -->
{% endblock content %}