{% extends "hoosRiding/base.html" %}
{% load request_ride %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4">

      <div class = "container-fluid" id="myBtnContainer">
        <button class="btn active mb-3"  style="border-radius: 50%; border: #FF860E"><a href="{% url 'sortByDate' %}">Date</a></button>
        <button class="btn mb-3"  style="border-radius: 50%; border: #FF860E">Rating</button>
        <!-- <button class="btn mb-3" style="border-radius: 50%; border: #FF860E"></button> -->
        <button class="btn mb-3" style="border-radius: 50%; border: #FF860E"><a href="{% url 'sortByPrice' %}">price</a></button>
      </div>
      <div id = "search">
        <form action="{% url 'search' %}" method="get", value="{{request.GET.q}}">
          <br> <input name="location_to" type="text" placeholder="location_to" value="{{request.GET.q}}" ></br>
          <br> <input name="location_from" type="text" placeholder="location_from" value="{{request.GET.q}}" ></br>
          <tr>
            <td style="padding:20px">Date of Ride</td>
            <td><input type="text" name="date_month" size="2">/<input type="text" name="date_day" size="2">/<input type="text" name="date_year" size="4"></td>
          </tr>
          <br><input type="submit" name="submit" value="Search"/></br>
        </form>
      </div>

    </div>
    <div class="col">
      
    </div>
  </div>
</div>
{% endblock content %}