.profile {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.star-rank {
    display: flex;
    flex-direction: row;

}

.checked {
  color: orange;
}

.star {
    width: 30px;
}

.left {

}

.right {

}

